body {
    font-family: 'Gowun Dodum', sans-serif;
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2, legend {
    text-align: center;
}

div h2 {
    text-align: left;
}

input[type="text"],[type="email"] {
    width: 300px;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

textarea {
    width: 300px;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

input[type="submit"] {
    background-color: green;
    color: white;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: grow;
}

strong {
    font-size: 20px;
}

fieldset {
    background-color: rgb(235, 250, 217);
    margin-top: 10px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 4px;
}

span {
    color: rgb(253, 63, 63);
}

.column {
    width: 60%;
}

.info {
    background-color: rgb(233, 233, 233);
    padding: 10px 0 30px 30px;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    iframe {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .column1{
        width: 40%;
        margin-left: 50px;
    }

}

